@page "/Account"
@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication
@attribute [Authorize]
@inject IHttpContextAccessor httpContextAccessor

<h3>Account</h3>

<p>Name: @httpContextAccessor.HttpContext.User.Identity.Name</p>
<p>Email: @httpContextAccessor.HttpContext.User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Email)?.Value</p>
<img src="@httpContextAccessor.HttpContext.User.Claims.First(x => x.Type == "picture")?.Value" alt=""/>

<hr/>
<h4 class="mt-3 mb-3">Claims</h4>
<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                Data="@httpContextAccessor.HttpContext.User.Claims" TItem="Claim" contextColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
    <Columns>
        <RadzenDataGridColumn TItem="Claim" Property="Type" Filterable="false" Title="Type" Frozen="true" Width="80px" TextAlign="TextAlign.Center"/>
        <RadzenDataGridColumn TItem="Claim" Property="Value" Title="Value" Frozen="true" Width="160px"/>
    </Columns>
</RadzenDataGrid>

<a href="AccessToken">See access token</a>


@code {
    

}