@page "/Account"
@using System.Security.Claims
@attribute [Authorize]
@inject IHttpContextAccessor httpContextAccessor

<h3>Account</h3>

<p>Name: @httpContextAccessor.HttpContext.User.Identity.Name</p>
<p>Email: @httpContextAccessor.HttpContext.User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Email)?.Value</p>
<img src="@httpContextAccessor.HttpContext.User.Claims.First(x => x.Type == "picture")?.Value" alt=""/>

<hr/>
<h4 class="mt-3 mb-3">Claims</h4>

<a href="AccessToken">See access token</a>


@code {
}