@page "/GetToken"
@using Newtonsoft.Json
@inject IConfiguration Configuration
@inject ILocalStorageService LocalStorage

<h3>GetToken</h3>

<RadzenButton Click="@Clicked">Get Token</RadzenButton>

@code {

    async Task Clicked()
    {
        var client = new RestClient("https://iron-gate.eu.auth0.com/oauth/token");
        var request = new RestRequest();
        request.AddHeader("content-type", "application/x-www-form-urlencoded");
        request.AddParameter("application/x-www-form-urlencoded", $"grant_type=client_credentials&client_id={Configuration["Auth0:ClientId"]}&client_secret={Configuration["Auth0:ClientSecret"]}&audience=https://IronGate/api", ParameterType.RequestBody);
        request.Method = Method.Post;
        RestResponse response =  client.Execute(request);
        dynamic data = JsonConvert.DeserializeObject(response.Content);
        string token = data["access_token"]; 
        await LocalStorage.SetItemAsync("ACCESS_TOKEN", token);
    }
}