@page "/"
@attribute [Authorize]
@inject IHttpContextAccessor httpContextAccessor


<PageTitle>Index</PageTitle>

<h1>Hello @httpContextAccessor.HttpContext.User.Identity.Name, Welcome to Irongate!</h1>
<br/>
<h4>Here you can monitor Information about your house, like checking temperature, flood warnings, motion detection and open or close windows.</h4>