@page "/"
@attribute [Authorize]

<PageTitle>Index</PageTitle>

<h1>Hello User, Welcome to Irongate!</h1>
<br/>
<h4>Here you can monitor Information about you house, like checking temperature, flood warnings, motion detection and open or close windows.</h4>