@page "/sensor"
@using Irongate.Service.Models
@attribute [Authorize]
@inject IMotionSensorService MotionSensorService
@inject ILocalStorageService LocalStorage

<h1 class="text-center">Motion Sensor</h1>


<RadzenDataGrid Data="@MotionSensors" TItem="MotionSensor" AllowSorting="true" AllowMultiColumnSorting="true" AllowPaging="true" PageSize="5" AllowFiltering="true" FilterMode="FilterMode.Advanced" LogicalFilterOperator="LogicalFilterOperator.Or">
    <Columns>
        <RadzenDataGridColumn TItem="MotionSensor" Property="id" Title="ID"/>
        <RadzenDataGridColumn TItem="MotionSensor" Property="value" Title="Motion Detected"/>
        <RadzenDataGridColumn TItem="MotionSensor" Property="timeStamp" Title="Timestamp"/>
    </Columns>
</RadzenDataGrid>


@code {
    public IEnumerable<MotionSensor> MotionSensors { get; set; }

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        MotionSensors = await MotionSensorService.GetSensor();
    }

}