@page "/windows"
@attribute [Authorize(Roles = "IronGate-User")]
@inject IConfiguration ConfigurationBuilder
@inject IWindowService WindowService


<h3>Windows</h3>

<RadzenSplitButton Click=@OnClickFirstFloor Text="First Floor">
    <ChildContent>
        <RadzenSplitButtonItem Text="Open" Value="1"/>
        <RadzenSplitButtonItem Text="Close" Value="0"/>
    </ChildContent>
</RadzenSplitButton>
<RadzenSplitButton Click=@OnClickGroundFloor Text="Ground Floor">
    <ChildContent>
        <RadzenSplitButtonItem Text="Open" Value="1"/>
        <RadzenSplitButtonItem Text="Close" Value="0"/>
    </ChildContent>
</RadzenSplitButton>

<RadzenSplitButton Click=@OnClickBasement Text="Basement">
    <ChildContent>
        <RadzenSplitButtonItem Text="Open" Value="1"/>
        <RadzenSplitButtonItem Text="Close" Value="0"/>
    </ChildContent>
</RadzenSplitButton>


@code {
    
    void OnClickFirstFloor(RadzenSplitButtonItem item)
    {
        string broker = ConfigurationBuilder["MosquittoBroker:WindowsControls:FirstFloor:Broker"];
        int port =  Convert.ToInt32(ConfigurationBuilder["MosquittoBroker:WindowsControls:FirstFloor:Port"]);
        string clientId = ConfigurationBuilder["MosquittoBroker:WindowsControls:FirstFloor:ClientId"];
        string username = ConfigurationBuilder["MosquittoBroker:WindowsControls:FirstFloor:Username"];
        string password = ConfigurationBuilder["MosquittoBroker:WindowsControls:FirstFloor:Password"];
        string topic = ConfigurationBuilder["MosquittoBroker:WindowsControls:FirstFloor:Topic"];
        
        WindowService.Init(broker, port, clientId, topic, username, password, item.Value);
    }

    void OnClickGroundFloor(RadzenSplitButtonItem item)
    {
        string broker = ConfigurationBuilder["MosquittoBroker:WindowsControls:GroundFloor:Broker"];
        int port =  Convert.ToInt32(ConfigurationBuilder["MosquittoBroker:WindowsControls:GroundFloor:Port"]);
        string clientId = ConfigurationBuilder["MosquittoBroker:WindowsControls:GroundFloor:ClientId"];
        string username = ConfigurationBuilder["MosquittoBroker:WindowsControls:GroundFloor:Username"];
        string password = ConfigurationBuilder["MosquittoBroker:WindowsControls:GroundFloor:Password"];
        string topic = ConfigurationBuilder["MosquittoBroker:WindowsControls:GroundFloor:Topic"];
        
        WindowService.Init(broker, port, clientId, topic, username, password, item.Value);
    }
    
    void OnClickBasement(RadzenSplitButtonItem item)
    {
        string broker = ConfigurationBuilder["MosquittoBroker:WindowsControls:Basement:Broker"];
        int port =  Convert.ToInt32(ConfigurationBuilder["MosquittoBroker:WindowsControls:Basement:Port"]);
        string clientId = ConfigurationBuilder["MosquittoBroker:WindowsControls:Basement:ClientId"];
        string username = ConfigurationBuilder["MosquittoBroker:WindowsControls:Basement:Username"];
        string password = ConfigurationBuilder["MosquittoBroker:WindowsControls:Basement:Password"];
        string topic = ConfigurationBuilder["MosquittoBroker:WindowsControls:Basement:Topic"];
        
        WindowService.Init(broker, port, clientId, topic, username, password, item.Value);
    }

}